body {
    padding-top:50px;
    padding-bottom:20px;
}
a{
    color:#00000;
    font-size:12px;
    text-decoration:none;
    text-transform:capitalize
}

a:hover {
    color: #00000;
    font-size: 12px;
    text-decoration: none;
    text-transform: capitalize
}

.news {
    width: 20%;
    height: 500px;
    margin: 20px;
    background-color: #d5d5d5;
    box-shadow: 6px 8px 6px -4px #000000;
    border-radius: 10px;
}
.description{
    font-size:12px;
    color:#000000;
    text-decoration: none;
    text-transform:capitalize;
    height:157px;
    -webkit-line-clamp:3;
    -webkit-box-orient:vertical;
    overflow:hidden
}

.heading {
    font-size: 14px;
    font-weight:600;
    color: #3e3e3e;
    text-decoration: none;
    text-transform: capitalize;
    height:60px;
    margin:20px 6px;
}
.news-image{
    box-shadow:6px 8px 5px -4px #000000;
    border-radius:5px;
    margin-top:15px;
}

