
@{
    ViewBag.Title = "Bekleyen Evraklar";
    Layout = "~/Views/Shared/_LayoutOnMali.cshtml";
}
<h2>Bekleyen Evraklar</h2>
<div class="container">
    @foreach (var evrak in ViewBag.evraklar)
    {
        using (Html.BeginForm("Bekleyen", "OnMali", FormMethod.Post))
        {
            <div class="card">
                <div class="card-body">
                    <input type="hidden" id="evrakId" name="evrakId" value="@evrak.evrakId" />
                    @evrak.evrakAd
                </div>
                <div class="card-footer">
                    <button class="btn btn-outline-primary" type="submit">İncele</button>
                </div>
            </div>
        }

    }
</div>

