
@{
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}


<div>
    <p>Anasayfa</p>
</div>
@section Section1{
    <div class="alert alert-info">
        <p>Section</p>
    </div>
}

@section Scripts{
    <script type="text/javascript">
        alert("Hello Scripts Section")
    </script>
}

