
@{
    ViewBag.Title = "Hata";
    Layout = "~/Views/Shared/_LayoutMuhasebe.cshtml";
}

<h2>Hatalar</h2>
@foreach (var rapor in ViewBag.raporlar)
{
    <div class="card">
        <div class="card-body">
            <ul class="list-group">
                <li class="list-group-item">@rapor.personelAd</li>
                <li class="list-group-item">@rapor.evrakAd</li>
                <li class="list-group-item">@rapor.tarih</li>
            </ul>
        </div>
    </div>
}

