<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Memur - İş Takip</title>
    <link rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/sign-in/">
    <!-- Bootstrap core CSS -->
    <link href="~/Content/bootstrap.min.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="~/Content/stil.css" rel="stylesheet">
    <script src="~/Scripts/jquery-3.0.0.min.js"></script>
</head>
<body>
    <div class="container-fluid">
        <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
            <a class="navbar-brand" href="#">İş Takip</a>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        @Html.ActionLink("Anasayfa", "Index", "Memur", new { @class = "nav-link" })
                    </li>
                    <li class="nav-item">
                        @Html.ActionLink("İş Takip", "Takip", "Memur", new { @class = "nav-link" })
                    </li>
                    <li class="nav-item">
                        @Html.ActionLink("İş Yap", "Yap", "Memur", new { @class = "nav-link" })
                    </li>
                </ul>
            </div>
        </nav>
    </div>
    <div role="main" class="container-fluid">
        @RenderBody()
    </div>
</body>
</html>
