
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        <!--
            <img src="/WebImage/ResimGoruntule" />
            <img src="/WebImage/ResimDondur" />
            <img src="/WebImage/ResimBoyutlandir" />
            <img src="/WebImage/ResimKes" />
        -->
        <img src="/WebImage/ResimYaziEkleme" />
    </div>
</body>
</html>
