
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <script src="~/Scripts/jquery-3.6.1.js"></script>
    <title>FakultelerJson</title>
</head>
<body>
    <div> 
        <input type="button" value="Fakülteleri Getir" id="fakulteGetir"/>
    </div>
</body>
</html>
<script>
    $(document).ready(function () {
        $("#fakulteGetir").click(function () {
            $.ajax({
                type: "POST",
                url: "Listele",
                contentType: "application/json;charset=utf-8",
                dataType: "json",
                success: function (data) {
                    console.log(data);
                }
            })
            return false;

        })
    });

</script>
